.menu ul li {
    margin: 0;
    list-style: none;
    float: left;
    display: block;
    border-right: 1px solid blue;
    background-color: #FFF;
}
.menu ul li a {
    float: left;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
}
.menu ul li a:hover {
    background-color: #CCC;
}
.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}